<!DOCTYPE html>
<html>
{% load staticfiles %}
<head>
  <title>UCSD events page</title>
  <meta charset="utf-8"/>
   {# Custom CSS#}
        <link rel="stylesheet" href="{% static 'css/events.css' %}">
</head>
<body style="background-color:powderblue;">
	<h1 style="color:DodgerBlue; position:absolute; left:36%;">Ur Career Scheduel Daily</h1>
  <a href="file:///Users/Peacheadzlol/CSE110-UCSD-Frontend/front-end/userlogin.html"><button style="color:blue; position:absolute; left:95%; top:12%">Log in</button></a>
  <a href="file:///Users/Peacheadzlol/CSE110-UCSD-Frontend/front-end/index.html"><button style="color:blue; position:absolute; padding: 0; border: none; font-size : 20px; width: 70px; height: 30px; background: none; top:4%">UCSD</button></a>
    
  <div style = "color:black; position: absolute; left:40%; top:20%">
       <ol>Top 5 events
           <li></li>
           <li></li>
           <li></li>
           <li></li>
           <li></li>
      </ol>
  </div>
    
  <a href="./listofevents.html" style="position:absolute; left:45%; top:50%">List of events</a>
	<button style="position:absolute; left:95%; top:40%">By Today</button>
	<button style="position:absolute; left:95%; top:45%">This week</button>
	<button style="position:absolute; left:95%; top:50%">This month</button>
</body>
</html>