<!DOCTYPE html>
<html>
{% load staticfiles %}
<head>
  <title>UCSD events page</title>
  <meta charset="utf-8"/>
   {# Custom CSS#}
        <link rel="stylesheet" href="{% static 'css/events.css' %}">
</head>
<body style="background-color:powderblue;">
	<h1 style="color:DodgerBlue; position:absolute; left:36%;">Ur Career Scheduel Daily</h1>
  <a href={% url 'login' %}><button style="color:blue; position:absolute; left:95%; top:12%">Log in</button></a>
  <a href={% url 'index' %}><button style="color:blue; position:absolute; padding: 0; border: none; font-size : 20px; width: 70px; height: 30px; background: none; top:4%">UCSD</button></a>
    
  <div style = "color:black; position: absolute; left:40%; top:20%">
       <ol>Top 5 events
           {% for event in view.top5  %}
           <li>{{ event.event_name }}</li>
           {% endfor %}
      </ol>
  </div>
    
   {# The actual event list#}
    <div style="color:black; position: absolute; left:40%; top:40%" >
        <h1>Events</h1>
        {% block content %}

        {% endblock %}
    </div>

	<a href="{% url 'event_list_today' %}" style="position:absolute; left:95%; top:40%">By Today</a>
	<a href="{% url 'event_list_week' %}" style="position:absolute; left:95%; top:45%">This week</a>
	<a href="{% url 'event_list_month' %}" style="position:absolute; left:95%; top:50%">This month</a>
    <a href="{% url 'event_list' %}" style="position:absolute; left:95%; top:55%">All</a>
</body>
</html>