<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
        <div class="col-lg-6 col-centered">
            <form action = "{% url "jobsearch" %}" method = "GET">
                {% csrf_token %}
            <div class="input-group">
              <input type="text" name="keyword" class="form-control" placeholder="Title of your job..." value="{{ keyword }}">
              <div class="dropdown show">
                <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Location
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <a class="dropdown-item" href="#">L1</a>
                  <a class="dropdown-item" href="#">L2</a>
                  <a class="dropdown-item" href="#">L3</a>
                </div>
              </div>
              <div class="dropdown show">
                <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Type
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <a class="dropdown-item" href="#">intern</a>
                  <a class="dropdown-item" href="#">full-time</a>
                  <a class="dropdown-item" href="#">part-time</a>
                </div>
              </div>
              <span class="input-group-btn">
                <button class="btn btn-default" type="submit">Search</button>
              </span>
            </div><!-- /input-group -->
            </form>
          </div><!-- /.col-lg-6 -->

</body>
</html>