.modal .modal-dialog .modal-content .modal-body .header {
  max-width: 550px;
  width: 100%;
  text-align: center;
  font-size: 30px;
  padding: 10px;
}
.modal .modal-dialog .modal-content .modal-body .username_input {
  max-width: 565px;
  width: 100%;
  margin-bottom: 5px;
  outline: none;
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}
.modal .modal-dialog .modal-content .modal-body .container form input {
  max-width: 540px;
  width: 100%;
  margin-bottom: 5px;
  outline: none;
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}
.modal .modal-dialog .modal-content .modal-body .container form textarea {
  max-width: 540px;
  width: 100%;
  resize: none;
  outline: none;
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

.add_post_container {
  position: fixed;
  right: 1%;
  bottom: 3%;
  z-index: 1001;
}

.addNewPost {
  position: relative;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: #2ecc71;
  font-size: 11px;
  color: #FFF;
  cursor: pointer;
}
.addNewPost:hover {
  transform: scale(1.2);
  -webkit-transition: transform .2s ease-in-out;
  -moz-transition: transform .2s ease-in-out;
  -ms-transition: transform .2s ease-in-out;
  -o-transition: transform .2s ease-in-out;
}
.addNewPost i {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-align: center;
  height: 24px;
  font-size: 26px;
  font-weight: bold;
}

.button_container {
  display: none;
  opacity: 0;
}
.button_container:hover {
  opacity: 1;
  -webkit-transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -ms-transition: opacity .2s ease-in-out;
  -o-transition: opacity .2s ease-in-out;
}