.me {
    background-image: url(http://i1.hdslb.com/bfs/archive/9a80896d06a9a0fd1c11b7de68d5d499cb5fa292.jpg);
    background-size: cover;
}

.email {
    background: #353535;
    border-radius: 0px;
    height: 170px;
    overflow: hidden;
    position: relative;
    width: 300px;
    -webkit-tap-highlight-color: transparent;
    transition: width 300ms cubic-bezier(0.4, 0.0, 0.2, 1),
    height 300ms cubic-bezier(0.4, 0.0, 0.2, 1),
    box-shadow 300ms cubic-bezier(0.4, 0.0, 0.2, 1),
    border-radius 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
}

.email:not(.expand) {
    cursor: pointer;
}

.email:not(.expand):hover {
    background: #484848;
}

.from {
    height: 170px;
    width: 300px;
    position: absolute;
    transition: opacity 200ms 100ms cubic-bezier(0.0, 0.0, 0.2, 1);
}

.from-contents {
    display: flex;
    flex-direction: row;
    transform-origin: 0 0;
    transition: transform 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
}

.to {
    opacity: 0;
    position: absolute;
    transition: opacity 100ms cubic-bezier(0.4, 0.0, 1, 1);
}

.to-contents {
    transform: scale(.55);
    transform-origin: 0 0;
    transition: transform 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
}

.avatar {
    border-radius: 40px;
    height: 80px;
    left: 16px;

    position: relative;
    margin-top: 12px;
    width: 80px;
}

.name {
    color: #ffffff;
    font-size: 18px;
    line-height: 30px;
    margin-left: 30px;
    margin-top: 30px;
}

.x {
    background: #DEDBDF;
    border-radius: 10px;
    height: 20px;
    position: absolute;
    top: 5px;
    right: 5px;
    width: 20px;
}

.x:hover {
    background: #C2C0C2;
}

.line1 {
    background: #898B8D;
    height: 12px;
    position: absolute;
    transform: translateX(9px) translateY(4px) rotate(45deg);
    width: 2px;
}

.line2 {
    background: #898B8D;
    height: 12px;
    position: absolute;
    transform: translateX(9px) translateY(4px) rotate(-45deg);
    width: 2px;
}

.bottom {
    background: #FFF;
    color: #444247;
    font-size: 14px;
    height: 430px;
    padding-top: 5px;
    width: 400px;
}

.email.expand {
    border-radius: 0px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.10), 0 6px 6px rgba(0, 0, 0, 0.16);
    height: 600px;
    width: 400px;
}

.expand .from {
    opacity: 0;
    transition: opacity 100ms cubic-bezier(0.4, 0.0, 0.2, 1);
}

.expand .from-contents {
    transform: scale(1.91);
}

.expand .to {
    opacity: 1;
    transition: opacity 300ms 200ms cubic-bezier(0.4, 0.0, 1, 1);
}

.expand .to-contents {
    transform: scale(1);
}

.common_friends {
    font-size: 13px;
    margin-bottom: 15px;
    margin-left: 13px;
    color: #FFFFFF;
}

hr {
    height: 1px;
    color: #d3d3d3;
    background-color: #d3d3d3;
    border: none;
    width: 90%;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,600);
.snip1336 {
    font-family: 'Roboto', Arial, sans-serif;
    position: relative;
    overflow: hidden;
    //margin: 10 px;
    min-width: 230px;
    max-width: 400px;
    height: 600px;
    width: 100%;
    color: #ffffff;
    text-align: left;
    //line-height: 1.4 em;
    background-color: #353535;
}

.snip1336 img {
    max-width: 100%;
    vertical-align: top;
    opacity: 0.85;
}

.snip1336 figcaption {
    width: 100%;
    background-color: #353535;
    padding: 25px;
    position: relative;
}

.snip1336 figcaption:before {
    position: absolute;
    content: '';
    bottom: 100%;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 55px 0 0 400px;
    border-color: transparent transparent transparent #353535;
}

.snip1336 figcaption a {
    padding: 5px;
    border: 1px solid #ffffff;
    color: #ffffff;
    font-size: 0.7em;
    text-transform: uppercase;
    margin: 10px 0;
    display: inline-block;
    opacity: 0.65;
    width: 47%;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
}

.snip1336 figcaption a:hover {
    opacity: 1;
}

.snip1336 .profile {
    border-radius: 50%;
    position: absolute;
    bottom: 100%;
    left: 25px;
    z-index: 1;
    max-width: 90px;
    opacity: 1;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.snip1336 .follow {
    margin-right: 4%;
    border-color: #2980b9;
    color: #2980b9;
}

.snip1336 h2 {
    margin: 0 0 5px;
    font-weight: 300;
}

.snip1336 h2 span {
    display: block;
    font-size: 0.5em;
    color: #2a8dd0;
    margin-top: 10px;
}

.snip1336 p {
    margin: 10px 0 15px;
    font-size: 0.8em;
    letter-spacing: 1px;
    opacity: 0.8;
}

.buttons {
    margin-bottom: auto;
    float: bottom;
}

.description {
    display: block;
    width: 350px;
    height: 125px;
}
