

body {
    /* background-image: url(./realMan.jpg); */
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: cover;
    background-color: #edf0f2;
}


#wrapper{padding:90px 15px;}
.navbar-expand-lg .navbar-nav.side-nav{flex-direction: column;}
.navbar{
  background-color: #141414;
  color: #141414;}
.Box{
  margin-bottom: 15px;
  border-radius:0;
  box-shadow: 0 3px 5px rgba(0,0,0,.1); }
.header-top{
  box-shadow: 0 3px 5px rgba(0,0,0,.1)}
.leftmenutrigger{display: none}

@media(min-width:992px) {
  .leftmenutrigger{
    display: block;
    display: block;
    margin: 7px 20px 4px 0;
    cursor: pointer;}

  #wrapper{
    padding: 90px 15px 15px 15px; }

  .navbar-nav.side-nav.open {left:0;}

  .navbar-nav.side-nav{
    background: #FDB515;
    box-shadow: 2px 1px 2px rgba(0,0,0,.1);
    position:fixed;top:56px;
    flex-direction: column!important;
    left:-320px;width:300px;
    overflow-y:auto;
    bottom:0;
    overflow-x:hidden;
    padding-bottom:40px}
}
.animate{
  -webkit-transition:all .3s ease-in-out;
  -moz-transition:all .3s ease-in-out;
  -o-transition:all .3s ease-in-out;
  -ms-transition:all .3s ease-in-out;
  transition:all .3s ease-in-out}

  .error{
    list-style-type: none;
  }

  .error{
    color: #222222;
  }


#signin-popup
{
}
/* #searchingbar{
    align-items: center;
  } */

.button{
    padding: 5px;
    border: 1px solid #000000;
    color: #fbfdff;
    background-color: #141414;
    font-size: 0.7em;
    text-transform: uppercase;
    margin: 10px 0;
    display: inline-block;
    opacity: 0.95;
    width: 47%;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
}

.button:hover {
    opacity: 1;
}
