
.state2{
    color: #FFFFFF;
}

ul{
    padding-left: 0;!important;
}

.friend .request{
    padding-top: 10px;!important;
    padding-bottom: 10px;!important;
    margin: 5px;!important;
}

.friend-name{
    padding-top: 10px;
}
