<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="friend-tab" data-toggle="tab" href="#friend" role="tab" aria-controls="friend" aria-selected="true">Friends</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="request-tab" data-toggle="tab" href="#request" role="tab" aria-controls="request" aria-selected="false">Requests</a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent" style="height:100px;">
      <div class="tab-pane fade show active" id="friend" role="tabpanel" aria-labelledby="friend-tab">
       <!--Friends Tab-->
      </div>
      <div class="tab-pane fade" id="request" role="tabpanel" aria-labelledby="request-tab">
        <!--Request Tab-->
      </div>
    </div>
  </body>
  <!-- <script type="text/javascript">
    var window_height = $(window).height();
    var window_width = $(window).width();
    var c = (window_width < window_height) ? window_width : window_height;
    $('img').css('height', c * 0.08);
    $('img').css('width', c * 0.08);
  </script> -->
</html>
