{% extends "base.html" %}
{% load i18n static %}


{% block content %}
<div class = "container">
<div class="row justify-content-left">
    <h3>Password reset confirmation</h3>
</div>
<hr>
{% if validlink %}
    <div class = "row justify-content-left">
        <p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
    </div>
        <div class = "container">
                <h3 align="left">{{ form.non_field_errors }}</h3>
                    <div class="modal-body">
                        <form  method="post">
                            {% csrf_token %}
                            <div class = "row justify-content-left">
                            <div class="col col-4">

                                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                    <div class="col col-12">
                                    <input type="password" class="form-control" name="new_password1" placeholder="New Password"
                                           required="required">
                                    </div>
                                    <div class="col col-12"><p>{{ form.new_password1.errors }}</p></div>

                            </div>
                            </div>
                            <div class = "row justify-content-left">
                            <div class="col col-4">

                                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                    <div class="col col-12">
                                    <input type="password" class="form-control" name="new_password2" placeholder="Confirm Password"
                                           required="required">
                                    </div>
                                    <div class="col col-12"><p>{{ form.new_password2.errors }}</p></div>

                            </div>
                            </div>
                            <div class = "row"></div>
                            <div class = "row justify-content-left">
                            <div class="col col-4">
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-block login-btn">Change My Password</button>
                            </div>
                            </div>
                            </div>
                        </form>

                    <!-- End of Signup Popup Section -->
                    </div>
          </div>
</div>


{% else %}
<div class = "row justify-content-left">
<p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
</div>

{% endif %}

{% endblock %}
