{% extends "base.html" %}
{% load i18n static %}

{% block content %}

    <div class="container" id="wholepage">
    <div class="row justify-content-left">
    <h3 class="text">Reset Password</h3>
    </div>
    <hr>
    <div class="row justify-content-left">
    <p class = "text-left">{% trans "Enter your email address below, and we'll email instructions for setting a new one." %}</p>
    </div>
        <div class="row justify-content-left">
            <div class="col col-4">
                <h3 align="center">{{ form.non_field_errors }}</h3>
                    <div class="modal-body">
                        <form  action="{% url 'password_reset' %}" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                    <div class="col col-12">
                                    <input type="email" class="form-control" name="email" placeholder="Your Email" value="{{ email }}"
                                           required="required">
                                    </div>
                                    <div class="col col-12"><p>{{ form.email.errors }}</p></div>
                                </div>
                            </div>
                            <div class = "row"></div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-dark btn-block login-btn">Reset My Password</button>
                            </div>
                        </form>
                    </div>
                    <!-- End of Signup Popup Section -->
            </div>
        </div>
    </div>

{% endblock %}
