{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class = "container">
<div class="row justify-content-left">
<h3>Password reset sent</h3>
     <div class = "row"></div>
</div>
<hr>
</div>
<div class="container" id="wholepage">
<div class="row justify-content-left">
<p>{% trans "We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly." %}</p>
</div>
<div class="row justify-content-left">
<p>{% trans "If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder." %}</p>
</div>

{% endblock %}
</div>
</div>