{% load static %}
<!--<script src="{% static 'js/add_referral.js' %}"></script>-->
<link rel="stylesheet" href="{% static 'css/add_referral.css' %}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800'
      rel='stylesheet' type='text/css'>
<div class="modal fade bd-example-modal-lg" id="add-referral" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-body referral">
                <div class="row justify-content-center">
                    <h1>Offer Your Referral</h1>
                </div>
                <!-- show steps-->
                <ul class="steps">
                    <li class="is-active"><h5>Step 1</h5></li>
                    <li><h5>Step 2</h5></li>
                    <li><h5>Step 3</h5></li>
                </ul>
                <!-- container -->
                <div class="container_ref">
                    <form class="form-wrapper" name="form">
                        <div class="section is-active">
                            <div class="row">
                                <input type="text" name="position" id="position" placeholder="title of your job">
                                <label for="position">Title</label>
                            </div>

                            <div class="row">
                                <div class="col-6">
                                    <div class="row">
                                        <input type="text" name="location" id="search-L"
                                               onkeyup="changeInputL(this.value)"
                                               placeholder="Loaction of your job">
                                        <label for="search-L">Location</label>
                                        <div id="result-L" class="list-group"></div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="row">
                                        <input type="text" name="company" id="search-C"
                                               onkeyup="changeInputC(this.value)"
                                               placeholder="Your company">
                                        <label for="search-C">Company</label>
                                        <div id="result-C" class="list-group"></div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="row">
                                        <input type="text" name="major" id="search-M" onkeyup="changeInputM(this.value)"
                                               placeholder="Major requirement">
                                        <label for="search-M">Major</label>
                                        <div id="result-M" class="list-group"></div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="row">
                                        <input type="text" name="degree" id="search-D"
                                               onkeyup="changeInputD(this.value)"
                                               placeholder="Degree requirement">
                                        <label for="search-D">Degree</label>
                                        <div id="result-D" class="list-group"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-right">
                                <button class="next-button" tabindex="0" style="margin-left: auto;">Next
                                </button>
                            </div>
                        </div>

                        <div class="section">
                            <div class="row justify-content-center">
                                <h4>Pick Some Categories</h4>
                                <ul class="ks-cboxtags">
                                    <li class="li_box"><input type="checkbox" name="S" id="S"
                                                              value=""><label
                                            for="S">Software</label></li>
                                    <li class="li_box"><input type="checkbox" name="E" id="E"
                                                              value=""><label
                                            for="E">Engineering</label></li>
                                    <li class="li_box"><input type="checkbox" name="H" id="H"
                                                              value=""><label
                                            for="H">Hardware</label></li>
                                    <li class="li_box"><input type="checkbox" name="EM" id="EM"
                                                              value=""><label
                                            for="EM">Embedded</label></li>
                                    <li class="li_box"><input type="checkbox" name="A" id="A"
                                                              value=""><label
                                            for="A">Aerospace</label></li>
                                    <li class="li_box"><input type="checkbox" name="AR" id="AR"
                                                              value=""><label
                                            for="AR">Art
                                        Sparkle</label></li>
                                    <li class="li_box"><input type="checkbox" name="B" id="B"
                                                              value=""><label
                                            for="B">Business</label></li>
                                    <li class="li_box"><input type="checkbox" name="M" id="M"
                                                              value=""><label
                                            for="M">Math</label></li>
                                    <li class="li_box"><input type="checkbox" name="AC" id="AC"
                                                              value=""><label
                                            for="AC">Accounting</label></li>
                                    <li class="li_box"><input type="checkbox" name="PHY" id="PHY"
                                                              value=""><label
                                            for="PHY">Physics</label>
                                    </li>
                                    <li class="li_box"><input type="checkbox" name="COMM" id="COMM"
                                                              value=""><label
                                            for="COMM">Communication</label></li>
                                    <li class="li_box"><input type="checkbox" name="C" id="C"
                                                              value=""><label
                                            for="C">Computer</label></li>
                                    <li class="li_box"><input type="checkbox" name="SC" id="SC"
                                                              value=""><label
                                            for="SC">Science</label></li>
                                    <li class="li_box"><input type="checkbox" name="BIO" id="BIO"
                                                              value=""><label
                                            for="BIO">Biology</label></li>
                                    <li class="li_box"><input type="checkbox" name="BE" id="BE"
                                                              value=""><label
                                            for="BE">BioEngineering</label></li>
                                    <li class="li_box"><input type="checkbox" name="MUS" id="MUS"
                                                              value=""><label
                                            for="MUS">Music</label></li>
                                    <li class="li_box"><input type="checkbox" name="CHEM" id="CHEM"
                                                              value=""><label
                                            for="CHEM">Chemistry</label></li>
                                    <li class="li_box"><input type="checkbox" name="ELE" id="ELE"
                                                              value=""><label
                                            for="ELE">Electrical</label></li>
                                    <li class="li_box"><input type="checkbox" name="BC" id="BC"
                                                              value=""><label
                                            for="BC">BioChemistry</label></li>
                                    <li class="li_box"><input type="checkbox" name="L" id="L" value=""><label
                                            for="L">Laborer</label></li>
                                </ul>
                            </div>
                            <div class="row justify-content-center">
                                <textarea name="referral_description" id="_description"
                                          placeholder="Tell us more about you"></textarea>
                                <label for="_description">Job Description</label>
                            </div>
                            <div class="row justify-content-right">
                                <button type="button" class="next-button" tabindex="0" style="margin-left: auto;">Next
                                </button>
                            </div>
                        </div>

                        <div class="section">
                            <div class="row justify-content-center referral_check">
                                <h6 class="referral">Do you require a resume?</h6>
                                <input type="checkbox" name="resume_required" id="resume_required" value="False">
                                <label for="resume_required">Checkbox</label>
                            </div>
                            <div class="row justify-content-center">
                                <textarea name="referral_description" id="referral_description"
                                          placeholder="Tell us more about you"></textarea>
                                <label for="referral_description">Additional Information</label>
                            </div>
                            <div class="row justify-content-right">
                                <button class="next-button" type="submit" tabindex="0" style="margin-left: auto;">
                                    Submit
                                </button>
                            </div>
                        </div>
                        <div class="section">
                            <div class="row justify-content-center">
                                <h3>
                                    Congratulations
                                </h3>
                            </div>
                            <div class="row justify-content-center">
                                <h4>
                                    You have successfully offered a job position!
                                </h4>
                            </div>
                            <div class="row blank"><br></div>
                            <div class="row justify-content-center">
                                <button class="next-button" tabindex="0">Offer Another Referral</button>
                            </div>
                            <div class="row justify-content-center">
                                <button class="exit-button" tabindex="0" data-dismiss="modal">No Thanks</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //Search Control
    var majors, locations, degrees, companies;
    var SUCCESS = false;

    $.ajax({
        url: "/job_fetch_data",
        dataType: 'json',
        success: function (data) {
            console.log('Got location list!');
            locations = data.locations;
            majors = data.majors;
            degrees = data.degrees;
            companies = data.companies;
        }
    });


    function matchList(input, data) {
        var reg = new RegExp(input.split("").join("\\w*").replace(/\W/, ""), "i");
        var res = [];
        if (input.trim().length === 0) {
            return res;
        }
        for (var i = 0, len = data.length; i < len; i++) {
            if (data[i].match(reg)) {
                res.push(data[i]);
            }
        }
        return res;
    }

    function changeInputL(val) {
        var autoCompleteResult = matchList(val, locations);
        document.getElementById("result-L").innerHTML = "";
        for (var i = 0, limit = 10, len = autoCompleteResult.length; i < len && i < limit; i++) {
            document.getElementById("result-L").innerHTML += "<a class='list-group-item list-group-item-action' href='#' onclick='setSearchL(\"" + autoCompleteResult[i] + "\")'>" + autoCompleteResult[i] + "</a>";
        }
    }

    function changeInputM(val) {
        var autoCompleteResult = matchList(val, majors);
        document.getElementById("result-M").innerHTML = "";
        for (var i = 0, limit = 10, len = autoCompleteResult.length; i < len && i < limit; i++) {
            document.getElementById("result-M").innerHTML += "<a class='list-group-item list-group-item-action' href='#' onclick='setSearchM(\"" + autoCompleteResult[i] + "\")'>" + autoCompleteResult[i] + "</a>";
        }
    }

    function changeInputD(val) {
        var autoCompleteResult = matchList(val, degrees);
        document.getElementById("result-D").innerHTML = "";
        for (var i = 0, limit = 10, len = autoCompleteResult.length; i < len && i < limit; i++) {
            document.getElementById("result-D").innerHTML += "<a class='list-group-item list-group-item-action' href='#' onclick='setSearchD(\"" + autoCompleteResult[i] + "\")'>" + autoCompleteResult[i] + "</a>";
        }
    }

    function changeInputC(val) {
        var autoCompleteResult = matchList(val, companies);
        document.getElementById("result-C").innerHTML = "";
        for (var i = 0, limit = 10, len = autoCompleteResult.length; i < len && i < limit; i++) {
            document.getElementById("result-C").innerHTML += "<a class='list-group-item list-group-item-action' href='#' onclick='setSearchC(\"" + autoCompleteResult[i] + "\")'>" + autoCompleteResult[i] + "</a>";
        }
    }

    function setSearchL(value) {
        document.getElementById('search-L').value = value;
        document.getElementById("result-L").innerHTML = "";
    }

    function setSearchM(value) {
        document.getElementById('search-M').value = value;
        document.getElementById("result-M").innerHTML = "";
    }

    function setSearchD(value) {
        document.getElementById('search-D').value = value;
        document.getElementById("result-D").innerHTML = "";
    }

    function setSearchC(value) {
        document.getElementById('search-C').value = value;
        document.getElementById("result-C").innerHTML = "";
    }

    //Step Control
    $(document).ready(function () {
        $(".form-wrapper .next-button").click(function () {
            var button = $(this);
            var currentSection = button.parents(".section");
            var currentSectionIndex = currentSection.index();
            var headerSection = $('.steps li').eq(currentSectionIndex);
            if (currentSectionIndex !== 2) {
                currentSection.removeClass("is-active").next().addClass("is-active");
                headerSection.removeClass("is-active").next().addClass("is-active");
            }

            $(".form-wrapper").submit(function (e) {
                e.preventDefault();
            });
            if (currentSectionIndex === 2) {

                submit();
                if (SUCCESS) {
                    currentSection.removeClass("is-active").next().addClass("is-active");
                    headerSection.removeClass("is-active").next().addClass("is-active");
                } else {
                    alert("Oops, something went wrong, please try again!")
                }
            }
            if (currentSectionIndex === 3) {
                $(document).find(".form-wrapper .section").first().addClass("is-active");
                $(document).find(".steps li").first().addClass("is-active");
            }
        });

        $(".exit-button").click(function () {
            var button = $(this);
            var currentSection = button.parents(".section");
            currentSection.removeClass("is-active").next().addClass("is-active");
            $(document).find(".form-wrapper .section").first().addClass("is-active");
            $(document).find(".steps li").first().addClass("is-active");
        })
    });

    function submit() {
        alert('hello');
        //var he = document.forms["form"]["he"].value;
        var position = document.getElementById('position').value;
        var company = document.getElementById('search-C').value;
        var major = document.getElementById('search-M').value;
        var degree = document.getElementById('search-D').value;
        var location = document.getElementById('search-L').value;
        var S = document.getElementById('S').value;
        var E = document.getElementById('E').value;
        var H = document.getElementById('H').value;
        var EM = document.getElementById('EM').value;
        var A = document.getElementById('A').value;
        var AR = document.getElementById('AR').value;
        var B = document.getElementById('B').value;
        var M = document.getElementById('M').value;
        var AC = document.getElementById('AC').value;
        var PHY = document.getElementById('PHY').value;
        var COMM = document.getElementById('COMM').value;
        var C = document.getElementById('C').value;
        var SC = document.getElementById('SC').value;
        var MUS = document.getElementById('MUS').value;
        var BIO = document.getElementById('BIO').value;
        var BE = document.getElementById('BE').value;
        var CHEM = document.getElementById('CHEM').value;
        var ELE = document.getElementById('ELE').value;
        var BC = document.getElementById('BC').value;
        var L = document.getElementById('L').value;
        var description = document.getElementById("_description").value;
        var resume_required = document.getElementById('resume_required').value;
        var referral_description = document.getElementById('referral_description').value;
        //alert(S);
        $.ajax({
            url: "/add_referral",
            data: {
                //csrfmiddlewaretoken: {% csrf_token %},
                'position': position,
                'company': company,
                'major': major,
                'degree': degree,
                'location': location,
                'S': S,
                'E': E,
                'H': H,
                'EM': EM,
                'A': A,
                'AR': AR,
                'B': B,
                'M': M,
                'AC': AC,
                'PHY': PHY,
                'COMM': COMM,
                'C': C,
                'SC': SC,
                'BIO': BIO,
                'BE': BE,
                'MUS': MUS,
                'CHEM': CHEM,
                'ELE': ELE,
                'BC': BC,
                'L': L,
                'description': description,
                'resume_required': resume_required,
                'referral_description': referral_description,
            },
            dataType: 'json',
            success: function (data) {
                if (data.successful) {
                    SUCCESS = true;
                }
            },

        });
    }
    
</script>