{% load static %}
<script src="{% static 'js/add_referral.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/add_referral.css' %}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800'
      rel='stylesheet' type='text/css'>
<div class="modal fade bd-example-modal-lg" id="add-referral" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-body referral">
                <div class="row justify-content-center">
                    <h1>Offer Your Referral</h1>
                </div>
                <!-- show steps-->
                <ul class="steps">
                    <li class="is-active"><h5>Step 1</h5></li>
                    <li><h5>Step 2</h5></li>
                    <li><h5>Step 3</h5></li>
                </ul>
                <!-- container -->
                <div class="container_ref">
                    <form class="form-wrapper">
                        <div class="section is-active">
                            <div class="row">
                                <input type="text" name="position" id="title" placeholder="title of your job"/>
                                <label for="title">Title</label>
                            </div>

                            <div class="row">
                                <div class="col-6">
                                    <div class="row">
                                        <input type="text" name="location" id="search-L" onkeyup="changeInputL(this.value)"
                                               placeholder="Loaction of your job">
                                        <label for="search-L">Location</label>
                                        <div id="result-L" class="list-group"></div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="row">
                                        <input type="text" name="company" id="search-C" onkeyup="changeInputC(this.value)"
                                               placeholder="Your company">
                                        <label for="search-C">Company</label>
                                        <div id="result-C" class="list-group"></div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="row">
                                        <input type="text" name="major" id="search-M" onkeyup="changeInputM(this.value)"
                                               placeholder="Major requirement">
                                        <label for="search-M">Major</label>
                                        <div id="result-M" class="list-group"></div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="row">
                                        <input type="text" name="degree" id="search-D" onkeyup="changeInputD(this.value)"
                                               placeholder="Degree requirement">
                                        <label for="search-D">Degree</label>
                                        <div id="result-D" class="list-group"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-right">
                                <button type="button" class="next-button" tabindex="0" style="margin-left: auto;">Next
                                </button>
                            </div>
                        </div>
                        <div class="section">
                            <div class="row justify-content-center">
                                <h4>Pick Some Categories</h4>
                                <ul class="ks-cboxtags">
                                    <li class="li_box"><input type="checkbox" name="S" id="checkboxOne"
                                                              value="S"><label
                                            for="checkboxOne">Software</label></li>
                                    <li class="li_box"><input type="checkbox" name="E" id="checkboxTwo"
                                                              value="E"><label
                                            for="checkboxTwo">Engineering</label></li>
                                    <li class="li_box"><input type="checkbox" name="H" id="checkboxThree"
                                                              value="H"><label
                                            for="checkboxThree">Hardware</label></li>
                                    <li class="li_box"><input type="checkbox" name="EM" id="checkboxFour"
                                                              value="EM"><label
                                            for="checkboxFour">Embedded</label></li>
                                    <li class="li_box"><input type="checkbox" name="A" id="checkboxFive"
                                                              value="A"><label
                                            for="checkboxFive">Aerospace</label></li>
                                    <li class="li_box"><input type="checkbox" name="AR" id="checkboxSix" value="AR"><label
                                            for="checkboxSix">Art
                                        Sparkle</label></li>
                                    <li class="li_box"><input type="checkbox" name="B" id="checkboxSeven"
                                                              value="B"><label
                                            for="checkboxSeven">Business</label></li>
                                    <li class="li_box"><input type="checkbox" name="M" id="checkboxEight" value="M"><label
                                            for="checkboxEight">Math</label></li>
                                    <li class="li_box"><input type="checkbox" name="AC" id="checkboxNine"
                                                              value="AC"><label
                                            for="checkboxNine">Accounting</label></li>
                                    <li class="li_box"><input type="checkbox" name="PHY" id="checkboxTen"
                                                              value="PHY"><label
                                            for="checkboxTen">Physics</label>
                                    </li>
                                    <li class="li_box"><input type="checkbox" name="COMM" id="checkboxTwelve"
                                                              value="COMM"><label
                                            for="checkboxTwelve">Communication</label></li>
                                    <li class="li_box"><input type="checkbox" name="C" id="checkboxThirteen"
                                                              value="C"><label
                                            for="checkboxThirteen">Computer</label></li>
                                    <li class="li_box"><input type="checkbox" name="SC" id="checkbox14" value="SC"><label
                                            for="checkbox14">Science</label></li>
                                    <li class="li_box"><input type="checkbox" name="BIO" id="checkbox15" value="BIO"><label
                                            for="checkbox15">Biology</label></li>
                                    <li class="li_box"><input type="checkbox" name="BE" id="checkbox16"
                                                              value="BE"><label
                                            for="checkbox16">BioEngineering</label></li>
                                    <li class="li_box"><input type="checkbox" name="MUS" id="checkbox21"
                                                              value="MUS"><label
                                            for="checkbox21">Music</label></li>
                                    <li class="li_box"><input type="checkbox" name="CHEM" id="checkbox17"
                                                              value="CHEM"><label
                                            for="checkbox17">Chemistry</label></li>
                                    <li class="li_box"><input type="checkbox" name="ELE" id="checkbox18"
                                                              value="ELE"><label
                                            for="checkbox18">Electrical</label></li>
                                    <li class="li_box"><input type="checkbox" name="BC" id="checkbox19"
                                                              value="BC"><label
                                            for="checkbox19">BioChemistry</label></li>
                                    <li class="li_box"><input type="checkbox" name="L" id="checkbox20" value="L"><label
                                            for="checkbox20">Laborer</label></li>
                                </ul>
                            </div>
                            <div class="row justify-content-center">
                                <textarea name="description" id="description"></textarea>
                                <label for="description">Job Description</label>
                            </div>
                            <div class="row justify-content-right">
                                <button type="button" class="next-button" tabindex="0" style="margin-left: auto;">Next
                                </button>
                            </div>
                        </div>

                        <div class="section">
                            <div class="row justify-content-center referral_check">
                                <h6 class="referral">Do you require a resume?</h6>
                                <input type="checkbox" name="resume_required" id="resume_required"/>
                                <label for="resume_required">Checkbox</label>
                            </div>
                            <div class="row justify-content-center">
                                <textarea name="referral_description" id="referral_description"
                                          placeholder="Tell us more about you"></textarea>
                                <label for="referral_description">Additional Information</label>
                            </div>
                            <div class="row justify-content-right">
                                <button class="next-button" tabindex="0" style="margin-left: auto;">Submit</button>
                            </div>
                        </div>
                        <div class="section">
                            <div class="row justify-content-center">
                                <h3>
                                    Congratulations
                                </h3>
                            </div>
                            <div class="row justify-content-center">
                                <h4>
                                    You have successfully offered a job position!
                                </h4>
                            </div>
                            <div class="row blank"><br></div>
                            <div class="row justify-content-center">
                                <button class="next-button" tabindex="0">Offer Another Referral</button>
                            </div>
                            <div class="row justify-content-center">
                                <button class="exit-button" tabindex="0" data-dismiss="modal">No Thanks</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script>

    /* //Search Control
     var people = ['Jamila', 'Lakenya', 'Eulalia', 'Jules', 'Li', 'Titus', 'Marybelle', 'Loan', 'Rolland', 'Leisa', 'Noe', 'Elin', 'Bernice', 'Karly', 'Barton', 'IndiaIndiaIndiaIndiaIndiaIndiaIndiaIndia', 'Bradley', 'Rudolph', 'Cassandra', 'Vita', 'Justin', 'Edna', 'Scarlett', 'Rasheeda', 'Essie', 'Sabra', 'Eleanore', 'Christal', 'Moses', 'Rachelle', 'Shakira', 'Jona', 'Christa', 'Elaina', 'Frederica', 'Lashawn', 'Jody', 'Amanda', 'Marcellus', 'Rodney', 'Kenyatta', 'Maybell', 'Christel', 'Angle', 'Harris', 'Talia', 'Brendon', 'Reginald', 'Celestine', 'Etta'];

     function matchPeople(input) {
         var reg = new RegExp(input.split("").join("\\w*").replace(/\W/, ""), "i");
         var res = [];
         if (input.trim().length === 0) {
             return res;
         }
         for (var i = 0, len = people.length; i < len; i++) {
             if (people[i].match(reg)) {
                 res.push(people[i]);
             }
         }
         return res;
     }

     function changeInput(val) {
         var autoCompleteResult = matchPeople(val);
         document.getElementById("result").innerHTML = "";
         for (var i = 0, limit = 10, len = autoCompleteResult.length; i < len && i < limit; i++) {
             document.getElementById("result").innerHTML += "<a class='list-group-item list-group-item-action' href='#' onclick='setSearch(\"" + autoCompleteResult[i] + "\")'>" + autoCompleteResult[i] + "</a>";
         }
     }


     function setSearch(value) {
         document.getElementById('search').value = value;
         document.getElementById("result").innerHTML = "";
     }


     //Step Control
     $(document).ready(function () {
         $(".form-wrapper .next-button").click(function () {
             var button = $(this);
             var currentSection = button.parents(".section");
             var currentSectionIndex = currentSection.index();
             var headerSection = $('.steps li').eq(currentSectionIndex);
             currentSection.removeClass("is-active").next().addClass("is-active");
             headerSection.removeClass("is-active").next().addClass("is-active");

             $(".form-wrapper").submit(function (e) {
                 e.preventDefault();
             });

             if (currentSectionIndex === 3) {
                 $(document).find(".form-wrapper .section").first().addClass("is-active");
                 $(document).find(".steps li").first().addClass("is-active");
             }
         });
     });

 */
</script>