<!DOCTYPE html>
<html lang="en" dir="ltr">
{% load static %}
<head>
    <meta charset="utf-8">
    <title></title>
</head>
<body>

<!-- Popup Section -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <div class="row justify-content-center">
                    <h3 class="text-center">{{ person.F_Name }} {{ person.L_Name }}</h3>
                </div>
                <div class="row justify-content-center">
                    <p>{{ person.major.major }} | {{ person.degree.degree }}</p>
                    <p>Graduation in {{ person.yr_graduation }}</p>
                    <p>{% if person.companys %}Works at
                        {% for company in person.companys|slice: ":2" %}
                            {{ company.company_name }} <br>
                        {% endfor %}
                    {% else %}
                        This person has no employment history.
                    {% endif %}
                    </p>
                </div>
                <div class="row justify-content-center">
                    <p>
                        {{ person.description }}
                    </p>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <!-- <button class="btn btn-outline-dark">Send Request</button> -->
                        <button class="btn btn-outline-danger">Remove Friend</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <!-- End of Popup Section -->
</body>
</html>
