<!DOCTYPE html>
{% load static %}
<html>
<head>
  <title>UCSD main page</title>
  <meta charset="utf-8"/>
  {# Custom CSS#}
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body style="background-color:powderblue;">
	<h1 style="color:DodgerBlue; position:absolute; left:36%;">Ur Career Scheduel Daily</h1>
  <a href="../accounts/login/"><button style="color:blue; position:absolute; left:95%; top:12%">Log in</button></a>
  <a href="file:///Users/Peacheadzlol/CSE110-UCSD-Frontend/front-end/index.html"><button style="color:blue; position:absolute; padding: 0; border: none; font-size : 20px; width: 70px; height: 30px; background: none; top:4%">UCSD</button></a>
  <a href="{% url 'event_list' %}"> <button style="background-color:DodgerBlue; position:absolute; left:40%; top:50%">Events</button></a>
	<a href="file:///Users/Peacheadzlol/CSE110-UCSD-Frontend/front-end/jobs.html"><button style="background-color:DodgerBlue; position:absolute; left:45%; top:50%">Intern/Jobs</button></a>
	<a href="file:///Users/Peacheadzlol/CSE110-UCSD-Frontend/front-end/referrals.html"> <button style="background-color:DodgerBlue; position:absolute; left:52%; top:50%"">Referrals </button></a>

</body>
</html>