
<div class="modal fade bd-example-modal" id="logout-successful" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-sm">
    <div class="modal-content" style="background-color: #1f1f1f; height: 150px; opacity:0.9;">
        <div class="row justify-content-center" style="margin-top:40px;">
        <p style="color: white; font-size: 20px; font-weight: 700;">Log out successful!</p>
        </div>
        <div class="row justify-content-center">
            <button class="btn btn0sm btn-light" id="logout_confirm" onclick="logout_confirm()" data-dismiss="modal">OK</button>
        </div>
    </div>
  </div>
</div>

<script>
    function logout_confirm() {
        if(is_job){
            window.location.reload();
        }
    }
</script>