<!DOCTYPE html>
<html lang="en" dir="ltr">
{% load static %}
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{% static 'css/network_content_Vfinal.css' %}">
  <!-- Bootstrap CSS CDN -->
  <!-- <link rel="stylesheet" href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css"> -->

  <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://production-assets.codepen.io/assets/common/stopExecutionOnTimeout-b2a7b3fe212eaa732349046d8416e00a9dec26eb7fd347590fbced3ab38af52e.js"></script> -->
  <title></title>
</head>

<body>
  <!-- searching results -->
  <!-- using davids friend card -->
  <div class="">
    <div class="container justify-content-center">
      <div class="row">
        <span class="email card shadow" id="28" onclick="this.classList.add('expand')">
          <div class="from">
            <div class="from-contents">
              <span class="avatar me"></span>
              <span class="name">Cong Li</span>
            </div>
            <hr>
            <p class="common_friends">Common Friends: 100</p>
          </div>
          <div class="to">
            <figure class="snip1336">
              <img src="{% static 'img/bkgd.png' %}" alt="sample87" />
              <div class="x" id="X28">
                <div class="line1"></div>
                <div class="line2"></div>
              </div>
              <figcaption>
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/profile-sample4.jpg" alt="profile-sample4" class="profile" />
                <h2>Cong Li<span>Major: CSE<pre>    </pre>BS</span></h2>
                <p class="description">student</p>
                <div class="buttons">
                  <a href="#" class="follow">Follow</a>
                  <a href="#" class="info">More Info</a>
                </div>
              </figcaption>
            </figure>
          </div>
        </span>
        <div class="col-1"></div>
        <script>
          $('#X28').on('click', function() {
            $('#28').removeClass('expand');
             alert('class removed.');
             event.stopPropagation();
          });
        </script>

        <div class="col-3"></div>
      </div>
    </div>
  </div>
  <!-- recommandations  -->
  <div class="">

  </div>
</body>

</html>
