<!DOCTYPE html>
<html lang="en" dir="ltr">
{% load static %}
<head>
    <meta charset="utf-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="favicon.ico">
    <!-- JQuery Bootstrap and relevant CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <!-- Used for Google Login -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <!-- Style and loinin related CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/cover.css' %}">
    <link rel="stylesheet" href="{% static 'css/neo_index1.css' %}">
    <script src="{% static 'js/new_index.js' %}"></script>
    <title>UCSD</title>
</head>

<body>
<div class=" nav nav-masthead justify-content-center" id="nav-decor">
    {% if user.is_authenticated %}
        {% if user.is_new_user %}
            <script>
                /* alert('hello');
                alert('Please finish sign up');
                window.location.replace('{% url 'new_user' %}');
                //alert('Please finish sign up');*/
            </script>
        {% else %}
            <div id="usrname-top" >
            <a class="nav-link usrname"
               href="{% url 'profile' account_id=user.account_id %}">Hello, {{ user }}</a>
            </div>
        {% endif %}
    {% else %}
        <div id="usrname-top" >
        <a class="nav-link usrname" href="#">{{ user }}, Please sign in</a>
        </div>
    {% endif %}
    {% if user.is_authenticated %}
        <div id="signin-out">
        <a class="nav-link active" id="logout" onclick="logout()">Logout</a>
        </div>
    {% else %}
        <div id="signin-out">
        <a class="nav-link active" data-toggle="modal" data-target="#signin-integrated">Sign
            in
        </a>
        </div>
    {% endif %}
</div>
<label>
    <input type='checkbox' id="checkbox" onclick="f()">
    <span class='menu'>
      <span class='hamburger'></span>
    </span>
    <ul>
        <li>
           <a href="#" id="nav-btn1">
                <button class="button type1">
                    <div class="">
                        Job
                    </div>
                    <div class="">
                        Click in!
                    </div>
                </button>
            </a>
        </li>
        <li>
            <a href="#" id="nav-btn2">
                <button class="button type2">
                    <div class="">
                        Event
                    </div>
                    <div class="">
                        Click in!
                    </div>
                </button>
            </a>
        </li>
        <li>
            <a href="#" id="nav-btn3" >
                <button class="button type3">
                    <div class="">
                        Network
                    </div>
                    <div class="">
                        Click in!
                    </div>
                </button>
            </a>
        </li>
    </ul>
</label>
<div class="container-fluid" id="main-idea">
    <div class="row justify-content-center">
        <h1 class="cover-heading"><b>Plan Your Career.</b></h1>
    </div>
    <div class="row justify-content-center">
        <p id="sesf" class="lead">Start Early! Start Often!</p>
    </div>
</div>
<div class="container-fluid" id="footnote">
    <footer class="mastfoot mt-auto">
        <div class="inner">
            <p>Ur Career Schedule Daily - Present by <a href="#">Team UCSD</a>.</p>
        </div>
    </footer>
</div>
<!--logout_popup-->
<div id = "logout-successful-div"></div>
<!--user_creation_popup-->
<!--<div id="user_creation_div"></div>-->
<!--SIgn in popup-->
<div id="signin-popup">
</div>
<script>
    function f() {
        if(!$('#checkbox').hasClass('clicked')){
            $('#checkbox').addClass('clicked');
        }
        else{
            $('#checkbox').removeClass('clicked');
            document.getElementById('nav-btn3').href = '#';
            document.getElementById('nav-btn2').href = '#';
            document.getElementById('nav-btn1').href = '#';
        }
        if($('#checkbox').hasClass('clicked')){
            document.getElementById('nav-btn3').href = '{% url 'network' %}';
            document.getElementById('nav-btn2').href = '{% url 'event' %}';
            document.getElementById('nav-btn1').href = '{% url 'job' %}';
        }


    }

    var anonymous = "<a class=\"nav-link usrname\" href=\"#\">AnonymousUser, Please sign in</a>"
    var signin = "<a class=\"nav-link active\" data-toggle=\"modal\" data-target=\"#signin-integrated\">Sign\n" +
        "            in\n" +
        "        </a>";

   function logout () {
        $.ajax({
            url: '{% url 'userlogout' %}',
            data: {
                'is_profile': 'False',
            },
            dataType: 'json',
            success: function (data) {
                if (data.successful) {
                    $('#logout-successful').modal();
                    document.getElementById('usrname-top').innerHTML = anonymous;
                    document.getElementById('signin-out').innerHTML = signin;
                }
            }
        })
   }

</script>
</body>

</html>
