<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <title></title>
</head>
<body>


<div class="profile-work">
    <p>Useful Links</p>
    <a href="https://a5.ucsd.edu/tritON/profile/SAML2/Redirect/SSO?execution=e1s1" target="_blank">Tritonlink</a><br/>
    <a href="https://tritoned.ucsd.edu/" target="_blank">TritonEd</a><br/>
    <a href="https://csemoodle3.ucsd.edu/login/index.php" target="_blank">CSE Moodle</a><br/>
    <a href="https://www.sourcegrade.xyz/" target="_blank">SourceGrade</a><br/>
    <a href="https://www.gradescope.com/" target="_blank">GradeScope</a><br/>
    <a href="https://github.com/" target="_blank">Github Link</a><br/>
    <a href="https://gitlab.com/" target="_blank">GitLab Link</a>
</div>
<hr>
<div class="row justify-content-center">
    <div class="file btn btn-dark" style="margin-bottom: 20px;">
        Upload Resume
        <input type="file" name="file"/>
    </div>
</div>


</body>
</html>
