<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8"></meta>
  <title></title>
</head>

<body>



  <!-- personal profile content -->
  <div class="container profile-tab personal-data-tab ">
    <div class="row">
      <div class="col-6">
        <label>User Id</label>
      </div>
      <div class="col-6">
        <p>XYZ123</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <label>Name:</label>
      </div>
      <div class="col-md-6">
        <p>{{ user.user.F_Name}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <label>Email</label>
      </div>
      <div class="col-md-6">
        <p>{{ user.user.contact_email}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <label>Phone</label>
      </div>
      <div class="col-md-6">
        <p>123 456 7890</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <label>Major</label>
      </div>
      <div class="col-md-6">
        <p>{{ user.user.major}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <label>Hobbies</label>
      </div>
      <div class="col-md-6">
        <p>wtf?</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <label>Nationality</label>
      </div>
      <div class="col-md-6">
        <p>Go Away!</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <label>Total Projects</label>
      </div>
      <div class="col-md-6">
        <p>not your business</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <label>Language</label>
      </div>
      <div class="col-md-6">
        <p>C.E.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <label></label>
      </div>
      <div class="col-md-6">
        <p>6 months</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <label>Your Bio</label><br />
        <p>{{ user.user.description}}</p>
      </div>
    </div>
  </div>





</body>

</html>
