<!DOCTYPE html>
{% extends 'profile.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>

<body>

{% block right_lower %}
    <div class="col">
        <div class="tab-content event-tab" id="myTabContent">
            <div class="tab-pane active show fade" id="personal" role="tabpanel" aria-labelledby="personal-data-tab">
                <!-- personal profile content -->
                <div class="container profile-tab personal-data-tab ">

                    <div class="card bg-white shadow"
                         style="padding-left: 20px; padding-right: 20px; padding-top: 20px; padding-bottom: 20px; margin-bottom: 20px;">
                        <div class="row">
                        </div>
                        <form name="form">
                            <fieldset disabled>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>First Name</label>
                                    </div>
                                    <div class="col-md-6" id="F_Name">
                                        <p>{{ user.user.F_Name }}</p>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Last Name</label>
                                    </div>
                                    <div class="col-md-6" id="lname">
                                        <p>{{ user.user.L_Name }}</p>
                                    </div>
                                </div>
                            </fieldset>

                            <div class="row">
                                <div class="col-md-6">
                                    <label>Contact Email</label>
                                </div>
                                <div class="col-md-6" id="contact_email">
                                    <p>{{ user.user.contact_email }}</p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <label>Major</label>
                                </div>
                                <div class="col-md-6" id="major">
                                    <p>{{ user.user.major.major }}</p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <label>Degree</label>
                                </div>
                                <div class="col-md-6" id="degree">
                                    <p>{{ user.user.degree.degree }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Graduation Year</label>
                                </div>
                                <div class="col-md-6" id="yr_graduation">
                                    <p>{{ user.user.yr_graduation }}</p>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Company</label>
                                </div>
                                <div class="col-md-6" id="company">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Description</label>

                                </div>
                                <div class="col-md-6" id="description">
                                    <p>{{ user.user.description }}</p>
                                </div>
                            </div>
                        </form>
                        <div class="row" style="margin-top: 15px">
                            <div class="col-9"></div>
                            <div class="col-1" id="cancel-button">
                                <div id="save-changes"></div>
                            </div>
                            <div class="col-1"></div>
                            <div class="col-1" id="editprofile">
                                <button class="btn btn-dark btn-sm float-right" style="margin-left: 50px"
                                        onclick="Render()">Edit
                                    Profile
                                </button>
                            </div>
                            <div class="col-1" id="cancel"></div>
                        </div>
                    </div>
                </div>
                <!-- SCRIPT -->
                <script>

                    //edit profile filed and buttons
                    const buttonSubmit = " <button type = 'submit' class='btn btn-dark btn-sm float-right' onclick='test()'>Save Changes</button>";
                    const buttonCancel = " <button class='btn btn-dark btn-sm float-right' onclick='Cancel()'>Cancel</button>";
                    const toRenderFName = "<input class=\"form-control\" type='text' name='F_Name' id='F_Name' value = '{{ user.user.F_Name }}'>";
                    const toRenderLName = "<input class=\"form-control\"type='text' name='lname' id='lname' value = '{{ user.user.L_Name }}'>";
                    const toRenderEmail = "<input class=\"form-control\"type='text' name='contact_email' id='contact_email' value = '{{ user.user.contact_email }}'>";
                    const toRenderGyear = "<input class=\"form-control\"type='text' name='yr_graduation' id='yr_graduation' value = '{{ user.user.yr_graduation }}'>";
                    const toRenderMajor = "<select class=\"form-control\" id=\"major\" name=\"major\">\n" +
                        "                                {% for major in view.get_majors %}\n"+
                            "                                <option>{{ major.major }}</option>\n"+
                            "                                {% endfor %}\n" +
                        "                            </select>";


                    const toRenderDegree = "<select class=\"form-control\" id=\"degree\" name=\"degree\">\n" +
                        "    {% for degree in view.get_degrees %}\n"+
                            "        <option>{{ degree.degree }}</option>\n" +
                            " {% endfor %}\n" +
                        "      </select>";
                    const toRenderDes = "<textarea class=\"form-control\"rows='6' name='description' id='description'>{{ user.user.description }}</textarea>";

                    function Render() {
                        //Change button appearance
                        document.getElementById('editprofile').remove();
                        document.getElementById('save-changes').innerHTML = buttonSubmit;
                        document.getElementById('cancel').innerHTML = buttonCancel;
                        //Change content to form
                        document.getElementById('major').innerHTML = toRenderMajor;
                        document.getElementById('F_Name').innerHTML = toRenderFName;
                        document.getElementById('lname').innerHTML = toRenderLName;
                        document.getElementById('yr_graduation').innerHTML = toRenderGyear;
                        document.getElementById('contact_email').innerHTML = toRenderEmail;
                        document.getElementById('description').innerHTML = toRenderDes;
                        document.getElementById('degree').innerHTML = toRenderDegree;
                    }

                    function Cancel() {
                        window.location.reload()
                    }

                    function test() {
                        var major = document.forms["form"]["major"].value;
                        var degree = document.forms["form"]["degree"].value;
                        var yr_graduation = document.forms["form"]["yr_graduation"].value;
                        var description = document.forms["form"]["description"].value;
                        var contact_email = document.forms["form"]["contact_email"].value;
                        $.ajax({
                            type: "POST",
                            url: '{% url 'edit_profile' %}',
                            data: {
                                csrfmiddlewaretoken: '{{ csrf_token }}',
                                'contact_email': contact_email,
                                'major': major,
                                'degree': degree,
                                'yr_graduation': yr_graduation,
                                'description': description,
                            },
                            dataType: 'json',
                            success: function (data) {
                                if (data.successful) {
                                    alert("success!");
                                    window.location.reload();
                                }
                                else {
                                    alert("failed!");
                                    window.location.reload(true);
                                }
                            }
                        });
                    }
                </script>
            </div>
            <!--End of personal info-->

            <!--Favorite Event section-->
            <div class="tab-pane fade" id="event" role="tabpanel" aria-labelledby="event-tab">
                <!-- Added Fav Events in Profile Page -->
                <div class="container profile-tab event-tab job_tab referral_tab">
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

                        <!-- Events -->
                        {% if not events %}
                            <div class="panel panel-default">
                                <h6>You have not added any favorite event yet.</h6>
                            </div>
                        {% else %}
                            {% for event in events %}
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingOne">
                                        <!-- Event Description -->
                                        <div class="row justify-content-center">
                                            <div class="col-12">
                                                <div class="card shadow p-3 mb-4 bg-white"
                                                     id="event_card{{ event.id }}">
                                                    <div class="card-header align-items-center">
                                                        <div class="row">
                                                            <h6>Location: {{ event.location }} /
                                                                Date: {{ event.date }}</h6>
                                                        </div>
                                                    </div>
                                                    <div class="card-body">
                                                        <a data-toggle="modal"
                                                           data-target="#about{{ event.id }}" class="event_name">
                                                            <h4 class="card-title">{{ event.event_name }}</h4>
                                                        </a>
                                                        <p class="card-text">{{ event.company.company_name }}<br>{{ event.description }}
                                                        </p>
                                                        <div class="row justify-content-right">
                                                            <div class="col-9"></div>
                                                            <div class="col-1" id="go-button{{ event.id }}">
                                                                <!--button goes here-->
                                                            </div>
                                                            <div class="col-1" id="remove-button{{ event.id }}"
                                                                 style="margin-left: 35px">
                                                                <button href="#"
                                                                        class="btn btn-danger btn-sm float-right"
                                                                        id="{{ event.id }}">remove
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div>
                                    <link rel="stylesheet" href="{% static 'css/event_aboute.css' %}">
                                    <div class="modal fade bd-example-modal-lg" id="about{{ event.id }}" tabindex="-1"
                                         role="dialog"
                                         aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-lg">
                                            <div class="modal-content">

                                                <header>
                                                    <div class="header-content">
                                                        <h3 class='header-title animate-pop-in'>{{ event.event_name }}</h3>
                                                        <h3 class='header-subtitle animate-pop-in'>Best Website Designer
                                                            &amp; Developer Club</h3>
                                                        <h3 class='header-info animate-pop-in'> Meeting at Room:
                                                            200 </h3>
                                                        <p></p>
                                                    </div>
                                                </header>

                                                <div>
                                                    <p>
                                                        {{ event.description }}
                                                    </p>
                                                    <br>
                                                </div>
                                                <hr>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <script>
                                    //go button
                                    const go_button{{ event.id }} = " <button class=\"btn btn-primary btn-sm float-right\" id=\"go{{ event.id }}\" onclick='go_{{ event.id }}()'>Go</button>";
                                    const not_go_button{{ event.id }} = " <button class=\"btn btn-danger btn-sm float-right\" id=\"go{{ event.id }}\" onclick='go_{{ event.id }}()'>Not Going</button>";

                                    //go to button click function
                                    function go_{{ event.id }}() {
                                        //alert("lll");
                                        //toggleButton();
                                        $.ajax({
                                            url: "{% url 'go_to_event'%}",
                                            data: {
                                                'event_id':{{event.id }},
                                            },
                                            dataType: 'json',
                                            success: function (data) {
                                                if (data.successful) {
                                                    //alert("success!");
                                                    if (data.go_status) {
                                                        document.getElementById('go-button{{ event.id }}').innerHTML = not_go_button{{ event.id }};
                                                    }
                                                    else {
                                                        document.getElementById('go-button{{ event.id }}').innerHTML = go_button{{ event.id }};
                                                    }
                                                }
                                                else {
                                                    alert("failed");
                                                }
                                            }
                                        });
                                        //alert("hallo");
                                    }

                                    $('#{{ event.id }}').on('click', function () {
                                        $.ajax({
                                            url: "{% url 'event_add_to_favorite'%}",
                                            data: {
                                                'event_id':{{event.id }},
                                            },
                                            dataType: 'json',
                                            success: function (data) {
                                                if (data.successful) {
                                                    alert("remove success!");
                                                }
                                                else {
                                                    alert("failed");
                                                }
                                            }
                                        });
                                        $('#event_card{{ event.id }}').remove();
                                    });

                                    $(document).ready(function () {
                                        $.ajax({
                                            url: "{% url 'event_get_go_status' %}",
                                            data: {
                                                'event_id':{{ event.id }},
                                            },
                                            dataType: 'json',
                                            success: function (data) {
                                                if (data.event_status) {
                                                    document.getElementById('go-button{{ event.id }}').innerHTML = not_go_button{{ event.id }};
                                                }
                                                else {
                                                    document.getElementById('go-button{{ event.id }}').innerHTML = go_button{{ event.id }};
                                                }

                                            }

                                        });
                                    })

                                </script>
                            {% endfor %}
                        {% endif %}

                    </div>
                </div>
            </div>
            <!--End of favorite event-->

            <!--Favorite Job section-->
            <div class="tab-pane fade" id="job" role="tabpanel" aria-labelledby="job-tab">
                <!-- Added Fav Events in Profile Page -->
                <div class="container profile-tab event-tab job_tab referral_tab">
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

                        <!-- Events -->
                        {% if not view.get_favjobs %}
                            <div class="panel panel-default">
                                <h6>You have not added any favorite job yet.</h6>
                            </div>
                        {% else %}
                            {% for job in view.get_favjobs %}
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingOne">
                                        <!-- Event Description -->
                                        <div class="card shadow p-3 mb-4 bg-white" id="job_card{{ job.id }}">
                                            <div class="card-header align-items-center">
                                                <div class="row">
                                                    <h6>Post Date: {{ job.post_time }}</h6>
                                                </div>
                                            </div>
                                            <div class="card-body">
                                                <a href="event http">
                                                    <h4 class="card-title">{{ job.job_position }}</h4>
                                                </a>
                                                <p class="card-text">{{ job.company.company_name }}<br>{{ job.description }}
                                                </p>
                                                <a href="#" class="btn btn-primary btn-sm float-right">Apply / Sign /
                                                    Go</a>
                                                <a href="#" class="btn btn-danger btn-sm float-right" id="{{ job.id }}">delete</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <script>
                                    $('#{{ job.id }}').on('click', function () {
                                        $.ajax({
                                            url: "{% url 'job_add_to_favorite'%}",
                                            data: {
                                                'job_id':{{job.id }},
                                            },
                                            dataType: 'json',
                                            success: function (data) {
                                                if (data.successful) {
                                                    alert("remove success!");
                                                }
                                                else {
                                                    alert("failed");
                                                }
                                                $('#job_card{{ job.id }}').remove();
                                            }
                                        });
                                    });

                                </script>

                            {% endfor %}
                        {% endif %}

                    </div>
                </div>
            </div>
            <!--End of favorite job-->


            <!--My referrals section-->
            <div class="tab-pane fade" id="referral" role="tabpanel" aria-labelledby="referral-tab">
                <!-- Added Fav Events in Profile Page -->
                <div class="container profile-tab event-tab job_tab referral_tab">
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

                        <!-- Events -->
                        {% if not view.get_referrals %}
                            <div class="panel panel-default">
                                <h6>Have job to offer? Everyone's expecting you!</h6>
                            </div>
                        {% else %}
                            {% for referral in view.get_referrals %}
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingOne">
                                        <!-- Event Description -->
                                        <div class="row justify-content-center">
                                            <div class="col-12">
                                                <div class="card shadow p-3 mb-4 bg-white">
                                                    <div class="card-header align-items-center">
                                                        <div class="row">
                                                            <h6>Location: {{ event.location }} /
                                                                Date: {{ event.date }}</h6>
                                                        </div>
                                                    </div>
                                                    <div class="card-body">
                                                        <a href="event http">
                                                            <h4 class="card-title">{{ event.event_name }}</h4>
                                                        </a>
                                                        <p class="card-text">{{ event.company }}<br>{{ event.description }}
                                                        </p>
                                                        <a href="#" class="btn btn-primary btn-sm float-right">Apply /
                                                            Sign /
                                                            Go</a>
                                                        <a href="#" class="btn btn-danger btn-sm float-right">delete</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}

                    </div>
                </div>
            </div>
            <!--End of my referralt-->


        </div>
    </div>
{% endblock %}

</body>
</html>