<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
</head>

<body>

<form action = "{% url "jobsearch" %}" method = "GET">
  <div class="input-group">
    <input type="text" class="form-control" name="keyword" placeholder="{% if not user.get_keyword or user.get_keyword == ' ' %} Title of your job {%else%}{{ user.get_keyword }}{% endif %}">

    <span class="input-group-btn">
      <button class="btn btn-primary" type="submit">Search</button>
    </span>
  </div><!-- input-group -->
</form>


</body>

</html>
