
{% extends 'base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/event_aboute.css' %}">

        <div>

            <header>
                <div class="header-content" style="margin-left: 300px; margin-right: 300px">
                    <h3 class='header-title animate-pop-in'>Software Engineering Intern, BS, Summer 2019</h3>
                    <h3 class='header-subtitle animate-pop-in'>Google</h3>
                    <p></p>
                </div>
            </header>

            <div class="row">
                <div class="container-fluid" style="margin-left: 300px; margin-right: 300px">
                    <h3>
                        Job Description
                    </h3>

                    <p>Temporary, InternshipApplications are due by December 14, 2018 at 11:59pm PT. Applications will
                        be reviewed on a rolling basis and it's in the candidate's best interest to apply early. Thank
                        you for your patience while we consider your application. To start the application process, you
                        will need an updated CV or resume and a current unofficial or official transcript in English.
                        Click on the Apply button on this page and provide the required materials in the appropriate
                        sections (PDFs preferred): 1. In the Resume Section: attach an updated CV or resume. 2. In the
                        Education Section: attach a current or recent unofficial or official transcript in English.
                        Under Degree Status, select Now attending to upload a transcript. Note: By applying to this
                        position your application is automatically submitted to the following locations: Mountain View,
                        CA, USA; Boulder, CO, USA; Cambridge, MA, USA; Chicago, IL, USA; Irvine, CA, USA; Kirkland, WA,
                        USA; Los Angeles, CA, USA; New York, NY, USA; Pittsburgh, PA, USA; San Bruno, CA, USA; Seattle,
                        WA, USA; San Francisco, CA, USA; Sunnyvale, CA, USA; Madison, WI, USA Qualifications Minimum
                        qualifications: Currently enrolled in a Bachelor's degree program in Computer Science, or
                        related technical field. Experience with Data Structures or Algorithms gathered from: completing
                        a data structures or algorithms class, coursework, course projects, research, individual
                        projects, internships, or other practical experience inside or outside of school or wor...</p>
                </div>
            <hr>
        </div>
        </div>

{% endblock %}





