<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Zei Ni Guo</title>
</head>
<body>
    <h1>Do you like what you see?</h1>
    <div class="container">
        <form method="POST">
            <p><label for="id_name">Name:</label> <input type="text" name="name" required id="id_name" value="Guapi Li"></p>
<p><label for="id_major">Major:</label> <input type="text" name="major" required id="id_major" value="EE"></p>
<p><label for="id_minor">Minor:</label> <input type="text" name="minor" required id="id_minor" value="搬砖"></p>
<p><label for="id_Graduation_year">Graduation year:</label> <input type="text" name="Graduation_year" required id="id_Graduation_year" value="2020"></p>
<p><label for="id_email">Email:</label> <input type="email" name="email" required id="id_email" value="gezuohaoshibuliuming@gmail.com"></p>
            <input type="hidden" name="csrfmiddlewaretoken" value="wjgr7ZDwLRwEQYq5Kx0Hzp4NXsXq19i1q4iFfL4gWU59LIuM4CsJ22p2jG9bZ7p3">
            <input type="submit" class="btn btn-primary" value="submit">
        </form>
    </div>
</body>
</html>