.slide-in {
  z-index: 10; /* to position it in front of the other content */
  position: absolute;
  overflow: hidden; /* to prevent scrollbar appearing */

}

.slide-in.from-left {
  left: 0;
}

.slide-in.from-right {
  right: 0;

}

.slide-in-content {
  padding: 5px 20px;
  background: #eee;
  transition: all .5s ease; /* our nice transition */
}

.slide-in.from-left .slide-in-content {
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
}

.slide-in.from-right .slide-in-content {
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
}

.slide-in.show .slide-in-content {
  transform: translateX(0);
  -webkit-transform: translateX(0);
}


ul#menu li {
    display:inline;
}
