@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");
.panel-title > a:before {
    float: right !important;
    font-family: FontAwesome;
    content:"\f068";
    padding-right: 5px;
}
.panel-title > a.collapsed:before {
    float: right !important;
    content:"\f067";
}
.panel-title > a:hover,
.panel-title > a:active,
.panel-title > a:focus  {
    text-decoration:none;
}
.card{
    margin-bottom: 25px;
}

.btn-primary.btn-sm{
    background-color: #003262;
}

#adfilter{
  margin-top: 0;
  padding-top: 200px;
  padding-left: 70px;
}
